body{
    background-image: url(obra.jpg);
}

canvas{
    background-color: blanchedalmond;
    border-style: solid;    
    border-width: 4px;
    border-color: goldenrod;
    border-radius: 5px;
    margin-top: 50px;
}

