body{
    background-image: url(obra.jpg);
}

canvas{
    background-color: #c7ba06;
    background-position: right;
    border-style: solid;
    border-width: 5px;
    border-color: #ff8800;
    border-radius: 5px;
    
}


p{
    text-align: center;
    text-decoration-color: aliceblue;
    font-family: 'Courier New', arial;
    font-size: 30px;

}
