

#imagenReal {
  float: left;
  text-align: center;
  margin-left: 80px;
  margin-right: auto;
  margin-top: 50px;
}

#imagenModificada {
  float: right;
  text-align: center;
  margin-left: auto;
  margin-right: 80px;
  margin-top: 50px;
}
.center {
  text-align: center;
}

#deslizadores {
  text-align: center;
  margin-bottom: 50px;
}

body{
  background:red;
  font-family: 'Courier New', Courier, monospace
} 

button{
  background-color: black;
  color: white;
  padding: 14px;
  font-size: 16px;
  margin: 5px 2px;
  margin-left: 16px;
  border-radius: 25px 25px 25px 25px;
  border: 3px solid black;
  width: 75px;
}
